.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}

.homeLogo {
  width: 150px;
  border-radius: 75px;
  border: darkgreen 2px solid;
}

.login h1,
.login h2 {
  margin: 0px;
}

.login button {
  margin-top: 10px;
}

.login button a {
  font-size: 20px;
  text-decoration: none;
}

.login button a:visited {
  color: black;
}
